################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/datasets
/VS2012_implementation_builda.zip
/VS2012_implementation1.zip
